In [12]:
import pandas as pd
from datetime import timedelta, date
import pickle
import matplotlib as plt

pd.set_option('display.max_columns',13)

In [13]:
"""
start = date(2018, 3, 1)
end = date(2018, 6, 1)
"""

'\nstart = date(2018, 3, 1)\nend = date(2018, 6, 1)\n'

In [14]:
"""
df= pd.DataFrame()
for sdate in range((end - start).days):
    fdate = (start + timedelta(sdate)).strftime('%y%m%d')
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_" + fdate + ".txt"
        #print(url)
    try:
        data = pd.read_csv(url)
        data['file'] = fdate
        df = df.append(data)
    except:
        print(fdate + ' didnt work')
"""

'"\ndf= pd.DataFrame()\nfor sdate in range((end - start).days):\n    fdate = (start + timedelta(sdate)).strftime(\'%y%m%d\')\n    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_" + fdate + ".txt"\n        #print(url)\n    try:\n        data = pd.read_csv(url)\n        data[\'file\'] = fdate\n        df = df.append(data)\n    except:\n        print(fdate + \' didnt work\')\n'

In [15]:
##pickle.dump( df, open("turns.p", "wb"))

In [16]:
df = pickle.load( open("turns.p", "rb"))

In [34]:
df.rename(columns = {'EXITS                                                               ':'EXITS'}, inplace = True)
df["DATETIME"] = pd.to_datetime(df["DATE"] +" "+df['TIME'], format ='%m/%d/%Y %H:%M:%S')
df["turnstileID"] = df["C/A"] +" "+ df["UNIT"] + " "+ df["SCP"]
df = df[df.TIME.str.contains(':00:00', regex=False)]

In [35]:
stations_list = []
for station in set(df.STATION):
    single= df[df['STATION'] == station]
    single= single.sort_values(by =['turnstileID','DATETIME'])
    ##single = single.sort_values(by="DATETIME")
    ##single = single.groupby(by= "DATETIME").sum()
    single['STATION'] = station
    ##single['DATETIME'] = single.index
    single['WEEKDAY'] = single['DATETIME'].dt.day_name()
    single['entry_diff'] = single.ENTRIES.shift(-1)-single.ENTRIES
    single['exit_diff'] = single.EXITS.shift(-1)-single.EXITS
    single['time_diff'] = single.DATETIME.shift(-1)-single.DATETIME

    stations_list.append(single)
all_df= pd.concat(stations_list)

In [19]:
all_df.describe()

,ENTRIES,EXITS,entry_diff,exit_diff,time_diff
count,2.564404e+06,2.564404e+06,2.564028e+06,2.564028e+06,2564028
mean,3.912342e+07,3.224968e+07,2.081979e+03,1.109915e+03,0 days 00:18:52.425120
std,2.045653e+08,1.898767e+08,1.233716e+07,1.094915e+07,3 days 17:34:30.066557
min,0.000000e+00,0.000000e+00,-2.117603e+09,-2.145033e+09,-91 days +00:20:55
25%,5.076080e+05,2.492142e+05,9.000000e+00,8.000000e+00,0 days 04:00:00
50%,2.582216e+06,1.456342e+06,7.400000e+01,5.100000e+01,0 days 04:00:00
75%,6.884556e+06,4.824353e+06,2.430000e+02,1.650000e+02,0 days 04:00:00
max,2.130068e+09,2.145850e+09,2.122292e+09,2.145033e+09,42 days 00:00:00

In [36]:
single.describe()

,ENTRIES,EXITS,entry_diff,exit_diff,time_diff
count,4.913000e+03,4.913000e+03,4.912000e+03,4.912000e+03,4912
mean,4.902134e+06,2.480073e+06,-2.534237e+03,1.703080e+03,0 days 00:26:38.452768
std,6.469847e+06,2.681138e+06,1.801335e+05,9.235841e+04,3 days 16:07:00.093838
min,9.714000e+03,1.752050e+05,-1.137952e+07,-7.779260e+05,-91 days +03:00:00
25%,2.300350e+05,4.691580e+05,1.000000e+00,1.400000e+01,0 days 04:00:00
50%,5.417950e+05,1.990403e+06,1.300000e+01,3.400000e+01,0 days 04:00:00
75%,1.229097e+07,2.729817e+06,1.040000e+02,9.100000e+01,0 days 04:00:00
max,1.651094e+07,9.469258e+06,3.120056e+06,5.777192e+06,0 days 08:00:00

,STATION,DATETIME,ENTRIES,EXITS,entry_diff,exit_diff
8817,138/GRAND CONC,2018-05-25 20:00:00,4093629.0,3617843.0,4.938498e+08,477117676.5
2216,104 ST,2018-05-25 20:00:00,563566558.5,313470043.0,4.517711e+08,-309126903.0
146703,EASTCHSTER/DYRE,2018-05-25 21:00:00,6251261.0,8032166.0,2.705345e+08,270618436.5
108500,BRONX PARK EAST,2018-05-25 21:00:00,3854914.0,1708787.0,9.894389e+07,-1078538.5
241440,MONTROSE AV,2018-05-25 20:00:00,6421536.0,1220615.0,6.499364e+07,-3437816.5
115792,CENTRAL PK N110,2018-05-25 20:00:00,31119761.0,11981715.5,7.913624e+06,2717004.0
188397,HALSEY ST,2018-05-25 21:00:00,2461784.0,1239265.0,7.504910e+06,2146707.5
120595,CHURCH AV,2018-05-25 21:00:00,18192100.5,1151455.5,6.616324e+06,620323.0
4971,116 ST-COLUMBIA,2018-05-25 21:00:00,12391776.5,5548652.5,6.440028e+06,-1949296.0
22296,170 ST,2018-05-25 20:00:00,4608062.0,3543408.5,5.792893e+06,4592671.0
139029,CRESCENT ST,2018-05-25 21:00:00,5378303.0,6166731.0,5.120830e+06,3518996.0
46465,40 ST LOWERY ST,2018-05-25 20:00:00,10567253.5,6419188.0,4.825892e+06,2522101.0
45919,4 AV-9 ST,2018-05-25 20:00:00,6940758.0,5245653.0,4.800566e+06,1644938.0
239797,METROPOLITAN AV,2018-05-25 20:00:00,4971907.0,2181976.0,4.644916e+06,-154.0
196603,HIGH ST,2018-05-25 20:00:00,7612538.0,12237922.0,4.565053e+06,-11943996.0
174405,GRANT AV,2018-05-25 20:00:00,6820392.0,6984156.0,4.129645e+06,287303.0
73352,86 ST,2018-05-25 20:00:00,8350398.0,2993460.0,4.058000e+06,1022044.0
72489,86 ST,2018-03-15 15:00:00,7.0,0.0,3.949559e+06,4382293.0
133545,CLARK ST,2018-05-25 20:00:00,4692376.0,6792496.5,3.747577e+06,-1295707.0
545,1 AV,2018-05-25 20:00:00,9785394.5,14827067.5,3.679516e+06,2092085.0
373007,WESTCHESTER SQ,2018-05-25 20:00:00,11560357.0,10223507.0,3.391797e+06,2637440.0
92539,BAYCHESTER AV,2018-05-25 21:00:00,6927507.0,605611.0,3.243222e+06,135663.0
134089,CLASSON AV,2018-05-25 20:00:00,6293844.0,6643488.0,3.210334e+06,2670908.5
234959,LEXINGTON AV/63,2018-03-11 06:00:00,7.0,18.0,3.113667e+06,9883385.0
36540,233 ST,2018-05-25 21:00:00,3781353.0,300798.0,2.890180e+06,-581726.0
83088,ASTORIA BLVD,2018-05-25 20:00:00,8829037.0,3363029.0,2.835214e+06,-628377.5
216917,JOURNAL SQUARE,2018-05-25 22:48:58,1303900.0,281567.0,2.834099e+06,1046849.0
107408,BROADWAY,2018-05-25 21:00:00,5633287.0,4577106.0,2.792531e+06,1710054.0
200468,INTERVALE AV,2018-05-25 21:00:00,4658436.0,3294145.0,2.565918e+06,-1937464.5
188943,HARLEM 148 ST,2018-05-25 20:00:00,2422350.0,3645757.0,2.546402e+06,119646.5
...,...,...,...,...,...,...
29970,2 AV,2018-05-25 20:00:00,6140557.5,6472155.0,-4.626179e+06,717665.0
342499,STERLING ST,2018-05-25 20:00:00,4223151.0,2667995.0,-4.737762e+06,-2020661.5
375192,WINTHROP ST,2018-05-25 21:00:00,3873634.0,1351094.0,-5.177060e+06,587650.0
371778,WALL ST,2018-05-14 08:55:45,6892130.0,7075235.0,-5.199688e+06,-6400415.0
136835,CORTELYOU RD,2018-05-25 20:00:00,5490070.0,2564327.0,-5.224208e+06,-2519199.5
143428,DYCKMAN ST,2018-05-25 21:00:00,10261403.0,263353.0,-5.585912e+06,-83981.0
68943,79 ST,2018-05-25 20:00:00,9739013.0,2828220.0,-6.351790e+06,-2360701.0
172764,GRAND ARMY PLAZ,2018-05-25 20:00:00,6575139.0,3641580.5,-6.650661e+06,-3800755.0
40406,3 AV 138 ST,2018-05-25 21:00:00,4665943.5,3729256.0,-7.379482e+06,-6364156.0
366977,V.CORTLANDT PK,2018-05-25 20:00:00,8775251.5,3013945.0,-1.330024e+07,-4294370.0
34331,225 ST,2018-05-25 21:00:00,6680100.0,1905415.0,-9.705894e+08,-316479652.5
28311,183 ST,2018-05-25 20:00:00,615478289.0,235830747.0,-1.218779e+09,-468254680.0
17250,14TH STREET,2018-05-25 21:21:55,511.0,36400.0,NaN,NaN
79800,9TH STREET,2018-05-25 21:34:42,11055.0,83575.0,NaN,NaN
132451,CITY / BUS,2018-05-25 22:49:15,63172.0,512185.0,NaN,NaN
162250,EXCHANGE PLACE,2018-05-25 22:03:28,2.0,1626.0,NaN,NaN
186210,GROVE STREET,2018-05-25 23:58:47,19682.0,11796.0,NaN,NaN
195500,HARRISON,2018-05-25 21:00:50,7448.0,118308.0,NaN,NaN
216901,JOURNAL SQUARE,2018-05-25 19:48:29,11123.0,11097.0,NaN,NaN
233766,LACKAWANNA,2018-05-25 23:52:50,11270.0,88117.0,NaN,NaN
259427,NEWARK BM BW,2018-05-25 21:49:55,190521.0,4133.0,NaN,NaN
268413,NEWARK C,2018-05-25 21:34:37,49204.0,3924.0,NaN,NaN
277530,NEWARK HM HE,2018-05-25 23:16:54,220.0,12566.0,NaN,NaN
286821,NEWARK HW BMEBE,2018-05-25 22:28:15,2383.0,1015721.0,NaN,NaN
317213,PATH NEW WTC,2018-05-25 20:35:53,835431.0,323590.0,NaN,NaN
319833,PATH WTC 2,2018-05-25 22:54:15,258402.0,841034.0,NaN,NaN
325469,PAVONIA/NEWPORT,2018-05-25 21:10:41,267195.0,207214.0,NaN,NaN
349786,THIRTY ST,2018-05-25 23:01:44,25794.0,947616.0,NaN,NaN
359062,THIRTY THIRD ST,2018-05-25 23:59:47,6270.0,2225.0,NaN,NaN
365332,TWENTY THIRD ST,2018-05-25 23:11:45,5463.0,240012.0,NaN,NaN

,STATION,TIME,ENTRIES,EXITS,entry_diff,exit_diff
0,1 AV,00:00:00,225147474065,120637555927,5.955700e+04,44299.0
1,1 AV,03:00:00,45532888268,24349461536,-6.002100e+04,-131455.0
2,1 AV,04:00:00,230769139859,123444457639,9.462800e+04,202991.0
3,1 AV,07:00:00,45532828247,24349330081,6.025500e+04,78479.0
4,1 AV,07:45:55,2585498693,1182790841,8.700000e+02,3272.0
5,1 AV,08:00:00,228183336723,122261284067,3.173410e+05,375441.0
6,1 AV,11:00:00,45532889372,24349411832,5.590500e+04,60108.0
7,1 AV,12:00:00,230769551828,123445036071,3.556590e+05,336712.0
8,1 AV,15:00:00,45532945277,24349471940,9.596700e+04,90275.0
9,1 AV,16:00:00,230769907487,123445372783,4.709430e+05,496347.0
10,1 AV,19:00:00,45533041244,24349562215,6.026000e+04,66970.0
11,1 AV,20:00:00,230770378430,123445869130,1.613980e+09,151481361.0
12,1 AV,23:00:00,45533101504,24349629185,2.197000e+04,16253.0
13,103 ST,00:00:00,2389383291,9551138125,2.579000e+03,6256.0
14,103 ST,00:22:51,28256118,24646929,0.000000e+00,0.0
15,103 ST,00:24:13,28256118,24646929,0.000000e+00,0.0
16,103 ST,00:25:33,28256118,24646929,0.000000e+00,0.0
17,103 ST,00:26:54,28256118,24646929,1.000000e+00,0.0
18,103 ST,00:28:14,28256119,24646929,1.000000e+00,7.0
19,103 ST,00:29:34,28256120,24646936,0.000000e+00,5.0
20,103 ST,00:30:55,28256120,24646941,1.000000e+00,0.0
21,103 ST,00:32:15,28256121,24646941,0.000000e+00,2.0
22,103 ST,00:33:35,28256121,24646943,1.000000e+00,2.0
23,103 ST,00:34:55,28256122,24646945,1.000000e+00,0.0
24,103 ST,00:36:15,28256123,24646945,0.000000e+00,2.0
25,103 ST,00:37:35,28256123,24646947,0.000000e+00,2.0
26,103 ST,00:38:56,28256123,24646949,0.000000e+00,0.0
27,103 ST,00:40:16,28256123,24646949,0.000000e+00,0.0
28,103 ST,00:41:36,28256123,24646949,0.000000e+00,0.0
29,103 ST,00:42:56,28256123,24646949,0.000000e+00,0.0
...,...,...,...,...,...,...
105442,WORLD TRADE CTR,14:45:38,1593548732,1837678449,1.953000e+03,1008.0
105443,WORLD TRADE CTR,15:00:00,23884291752,27554813147,9.581200e+04,39082.0
105444,WORLD TRADE CTR,16:00:00,121069891975,139645847431,5.671990e+05,223364.0
105445,WORLD TRADE CTR,19:00:00,23884387564,27554852229,2.729300e+04,15877.0
105446,WORLD TRADE CTR,20:00:00,121070459174,139646070795,-1.349799e+06,-831377.0
105447,WORLD TRADE CTR,23:00:00,23884414857,27554868106,4.096000e+03,4215.0
105448,YORK ST,00:00:00,611548919,519016633,1.206000e+03,941.0
105449,YORK ST,01:00:00,2896805193,2444442098,3.715000e+03,2875.0
105450,YORK ST,04:00:00,573264357,486555509,7.086000e+03,3970.0
105451,YORK ST,05:00:00,2935094676,2476907038,7.997600e+04,36876.0
105452,YORK ST,08:00:00,573271443,486559479,2.230200e+04,18298.0
105453,YORK ST,09:00:00,2935174652,2476943914,1.038820e+05,102791.0
105454,YORK ST,12:00:00,573293745,486577777,2.779500e+04,11454.0
105455,YORK ST,13:00:00,2935278534,2477046705,1.763580e+05,61512.0
105456,YORK ST,16:00:00,573321540,486589231,5.512600e+04,8776.0
105457,YORK ST,17:00:00,2935454892,2477108217,2.820440e+05,48289.0
105458,YORK ST,20:00:00,573376666,486598007,1.132300e+04,4246.0
105459,YORK ST,21:00:00,2935736936,2477156506,-3.469124e+06,-22868987.0
105460,ZEREGA AV,00:00:00,872571934,30868424,3.480000e+02,1453.0
105461,ZEREGA AV,01:00:00,4089766205,138887957,3.976000e+03,5481.0
105462,ZEREGA AV,04:00:00,818019601,28925391,1.019800e+04,3924.0
105463,ZEREGA AV,05:00:00,4144322862,140837924,6.929200e+04,27744.0
105464,ZEREGA AV,08:00:00,818029799,28929315,8.777000e+03,4519.0
105465,ZEREGA AV,09:00:00,4144392171,140865702,3.342100e+04,19959.0
105466,ZEREGA AV,12:00:00,818038537,28933749,6.685000e+03,6008.0
105467,ZEREGA AV,13:00:00,4144425592,140885661,-2.812760e+05,-471791.0
105468,ZEREGA AV,16:00:00,818045261,28939842,5.475000e+03,9637.0
105469,ZEREGA AV,17:00:00,4144144299,140413836,2.189100e+04,49092.0
105470,ZEREGA AV,20:00:00,818050736,28949479,1.472000e+03,4169.0
105471,ZEREGA AV,21:00:00,4144166190,140462928,-5.313171e+07,-747835.0